*,*::before,*::after
{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00AAFF, #00ff6c);
}

.grid-container
{
    display:grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(100px, auto) repeat(5, 60px);
}

.grid-container > button {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.75);
    outline:none;
}

.grid-container > button:hover{
    background-color: rgba(255, 255, 255, 0.90);
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    word-break: break-all;
    word-wrap: break-word;
}

.span-two{
    grid-column: span 2;
}

.output .previous-operand-css{
    font-size: 1.5rem;
    color:rgba(255, 255, 255, 0.75)
}
.output .current-operand-css{
    font-size: 2.5rem;
    color:rgba(255, 255, 255, 1)
}
